.ObjectivesList
  font-weight: bold
  color: black
  display: grid

.user-details
  color: white
  margin-left: 30px
  width: 160px
  font-weight: bold
  background-color: $brand-color
  text-align: center

  img
    width: 100%
    min-height: 160px
    top: 0
    left: 0

  p
    margin: 0  

.text-content
  padding: 10px

.ObjectivesPage
  margin: 20px
  background-color: white

  li
    list-style-type: none
    text-align: left

  p
  

.ObjectiveCard
  display: inline-flex

.objective-title
  margin: 10px

.objective-header
  display: inline-flex

.objective-notes
  margin: 10px

.status
  margin: 10px
  display: inline-flex

.objectives-page-header
  top: 0
  left: 0
  position: relative

// .Status
//   margin: 10px
//   width: 100px
//   font-size: 0.5em
//   color: $light-blue
//   line-height: 1.5em
//   text-align: center


status_name
  color: black


.Evidence
  margin: 10px
  text-align: center
  color: #009CDA


.ObjectiveDetails
  background: white
  max-width: 600px
  min-width: 600px
  padding: 10px
  margin-top: 10px
  margin-bottom: 10px
  color: black
  border: 2px solid $light-blue


.NoteDetails
  background: white
  max-width: 700px
  min-width: 700px
  line-height: 1.2em
  padding: 10px
  margin-top: 10px
  margin-bottom: 20px
  font-size: 12px
  color: black
  border: 2px solid $light-blue

.Header
  text-align: center
  background-color: $brand-color
  white-space: nowrap

  li
    list-style-type: none
    display: inline-flex
    padding: 20px
    color: white
    font-weight: bold
    cursor: pointer

.Logo
  text-align: center
  font-size: 70px
  color: white
  font-weight: bold


.ObjectiveWindow
  padding: 50px
  background-color: grey
  font-size: 16px

textarea, input
  font-size: 16px

button
  cursor: pointer
