@charset "UTF-8";
@font-face {
  font-family: 'SofiaProLight';
  src: url("../assets/fonts/Sofia-Pro-Light.eot");
  src: url("../assets/fonts/Sofia-Pro-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Sofia-Pro-Light.woff") format("woff"), url("../assets/fonts/Sofia-Pro-Light.ttf") format("truetype"), url("../assets/fonts/Sofia-Pro-Light.svg#sofiaprolight") format("svg");
  font-weight: normal;
    font-weight-font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../assets/fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../assets/fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../assets/fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../assets/fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../assets/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
    font-weight-font-style: normal; }

/* ACTION ICONS  */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

body {
  font-family: "SofiaProLight", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

h1 {
  color: #FF323C; }

img {
  max-height: 100px; }

.add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FF323C;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "FontAwesome";
  position: relative;
  box-shadow: 0 0 8px 0 #584e4e; }
  .add:before {
    content: "";
    line-height: 50px;
    font-size: 24px; }

.fade-in-up {
  -webkit-animation-name: fade-in-up;
  -o-animation-name: fade-in-up;
  animation-name: fade-in-up;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }

.modal-content {
  position: relative;
  background: #ffffff;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 60px 40px;
  border-radius: 5px; }

.input-container {
  margin-bottom: 15px;
  text-align: justify; }
  .input-container input,
  .input-container textarea {
    width: 100%; }
  .input-container input {
    padding: 5px;
    border-radius: 5px; }

.submit-btn {
  padding: 10px;
  border-radius: 5px;
  background: #FF323C;
  border: 0;
  margin-top: 15px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease-in-out; }
  .submit-btn:hover {
    background: #ee3737; }

.modal-content .close-icon {
  position: absolute;
  top: -15px;
  right: -10px;
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 8px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 15px;
  font-family: "FontAwesome";
  font-weight: 900;
  cursor: pointer; }
  .modal-content .close-icon:before {
    content: "";
    line-height: 16px; }
